<% include ./partials/header %>
  <div class= "bday">
    <h1>Welcome to Rewind</h1>
    <h2>Enter Your Birthday Below </h2>
<!--     <script>
      function getDate() {
        console.log('inside of getDate function');
          var year = document.getElementById("myYear").value;
          var month = document.getElementById("myMonth").value;
          var day = document.getElementById("myDay").value;
          var url = 'year'+ '-'+'month'+ '-' +'day';
          console.log(url);
      }
    </script> -->
    <form class="contained" method="GET" action='/playlist/bydate/'>
      <input name = "year" id = "myYear" type="Text" placeholder="Year">
      <input name = "month" id = "myMonth" type="Text" placeholder="Month">
      <input name = "day" id = "myDay" type="Text" placeholder="day">
      <input class = "submit" type="submit" value="Search">
    </form>

    <div class = 'songs'>
      <a href='/playlist'> See your playlist </a>
    </div>

  </div>

<% include ./partials/footer %>
