<% include ./partials/header %>
  <div class= "bday">
    <h1>Welcome to Rewind</h1>
    <h2>Enter Your Birthday Below </h2>

    <form class="contained" method="GET" action='/playlist/bydate/'>
      <input name = "year" id = "myYear" type="Text" placeholder="Year">
      <input name = "month" id = "myMonth" type="Text" placeholder="Month">
      <input name = "day" id = "myDay" type="Text" placeholder="day">

      <input id="submit" type="submit" value="Search">
    </form>

    <div class = 'songs'>
    </div>

  </div>

<% include ./partials/footer %>
