html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bday h1 {
  line-height: 2em;
  font-family: 'Monoton';
  font-size: 22px;
  color: white;
  background: #1a1a1a;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

.bday {
  background-image: url("https://lh3.googleusercontent.com/-Hzc885_QslQ/Ut3yZsdfpLI/AAAAAAAACPI/LAv9SAIvxIc/w400-h650/boombox.jpg");
/* Center and scale the image */
/*  background-repeat: no-repeat;*/
/*  background-position: 50% 50%;*/
  font-family: 'Monoton';
  background-position: 400px 170px;
  background-repeat: no-repeat;
  filter: brightness(1.15);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  text-align: center;
}

form {
  display: inline-block;
  flex-direction: column;
}

input[type='text'] {
  padding: 15px;
  transition: 0.5s all;
}

input[type='text']:focus {
  border-bottom: 3px solid black;
  transition: 0.5s all;
  outline: none;
}

input[type='submit'] {
  font-size: 1.0em;
  margin: 20px;
  transition: 0.2s all;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.songs a {
/*position: relative;
  min-height: 1px;
  background-position: 50% 50%;
  padding-left: 200px;*/
/*padding-top: 20px;*/
  text-transform: uppercase;
  letter-spacing: .075em;
  text-decoration: none;
  color: #2b2b2b;
}

/*song-index*/
.chart {
  text-align: center;
}

.chart a {
  text-transform: uppercase;
  letter-spacing: .075em;
  text-decoration: none;
  color: #2b2b2b;
  padding-left: 20px;
}

.chart-list.outer-list{
  margin: 0 5px;
  text-align: center;
  padding-top: 40px;
}

@media only screen and (min-width: 1024px) {
  .chart-list.outer-list{
    width: 676px;
  }
}

.chart-list-item{
  position: relative;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  margin-bottom: 3px;
  overflow: hidden;
}

.chart-list-item__rows{
  padding: 20px;
  display: table;
}

.chart-list-item__position{
  width: 61px;
  padding-top: 17px;
}

.chart-list-item__rank{
  text-align: center;
  font-size: 27px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: -1px;
}

.chart-list-item__image-wrapper{
  position: relative;
  width: 72px;
  vertical-align: top;
  display: table-cell;
  height: 100%;
}

.chart-list-item__image{
  vertical-align: top;
  width: 100%;
}

.chart-list-item__text-wrapper{
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.chart-list-item__title{
  display: inline-block;
  letter-spacing: .075em;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
}

@media only screen and (min-width: 1024px) {
  .chart-list-item__title{
      max-width: 380px;
  }
}

.chart-list-item__artist{
  overflow: hidden;
  letter-spacing: .075em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*single yourlist*/
.song-list {
  background-image: url('https://lh3.googleusercontent.com/UmBtk5Hde_7MtjtUnruzJ12z0LYuEPbdYuxs8ZPy98gGZIetvet8UA2PutWWWstAPkeQ=s85');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.song-list h1 {
  padding-top: 60px;
  font-family: Tiempos Headline,Tiempos,Georgia,serif;
  font-size: 4.8rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.links-to-song {
  background-position: 50% 50%;
}

.links-to-song a {
  position: relative;
  min-height: 1px;
  background-position: 50% 50%;
  padding-left: 200px;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .075em;
  font-weight: 600;
  text-decoration: none;
  color: #2b2b2b;
}

.song-listeach {
  font-weight: 100;
  font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.song-listeach hr {
  background: #ddd;
  margin: 40px 0;
}

.song-listeach h3 {
  margin: 40px 0;
  font-weight: 400;
  font-family: Tiempos,Georgia,serif;
  color: #1a1a1a;
}


/*song single*/
.songssingle {
  background-image: url('https://lh3.googleusercontent.com/5Dw8mwple4fKHFJQduW8OAAY98GMSfauu10OUFUgR5o6cdzRZurx-uC3J03SilrJnuKvnQ=s85');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100px;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.songssingle h1 {
  padding-top: 60px;
  font-family: Tiempos Headline,Tiempos,Georgia,serif;
  font-size: 4.0rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.songssinglelist h2 {
  margin: 40px 0;
  font-weight: 400;
  font-family: Tiempos,Georgia,serif;
  color: #1a1a1a;
}

.songssingle a {
  position: relative;
  min-height: 1px;
  background-position: 50% 50%;
  padding-left: 200px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .075em;
  font-weight: 600;
  text-decoration: none;
  color: #2b2b2b;
}

.songssinglelist {
  font-weight: 100;
  font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

/*song-edit and song-add*/
.new-songtolist {
  position: relative;
  border-bottom: 2px solid #2b2b2b;
  border-radius: 1px;
  margin: 100px 40px;
}

.new-songtolist h1 {
  line-height: 2em;
  font-family: 'Monoton';
  font-size: 22px;
  color: white;
  background: #1a1a1a;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

.new-songtolist p {
  margin: 40px 0;
  font-weight: 400;
  font-family: Tiempos,Georgia,serif;
  color: #1a1a1a;
}

